# District Summary

In [1]:
# Dependancies
import pandas as pd

In [2]:
# Save path to data set in variable
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

In [3]:
# Use Pandas to read data
school_file = pd.read_csv(school_file)
student_file = pd.read_csv(student_file)

In [4]:
# Print school data
# school_file

In [5]:
# Find the total budget
budget_total = school_file["budget"].sum()
budget_total

24649428

In [6]:
# Print student data
# student_file

In [7]:
# Merge school data and student data
school_data_complete = pd.merge(student_file, school_file, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# Find the average reading and math score
reading_average = school_data_complete["reading_score"].mean()
reading_average

81.87784018381414

In [9]:
# Find the average math score
math_average = school_data_complete["math_score"].mean()
math_average

78.98537145774827

In [10]:
# Total number of schools
school_count_unique = school_data_complete["School ID"].nunique()
school_count_unique

15

In [11]:
# Total number of students
student_count_unique = school_data_complete["Student ID"].nunique()
student_count_unique

39170

In [12]:
#Trying a new method to get number of students with passing scores by dropping the non-passing scores.
passing_math_dropped = school_data_complete.drop(school_data_complete[school_data_complete.math_score < 70].index)
passing_math_dropped.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [13]:
# Number of students with passing math score
passing_math_unique = passing_math_dropped["Student ID"].nunique()
passing_math_unique

29370

In [14]:
# % of students with passing math score
percent_passing_math = (passing_math_unique/student_count_unique) * 100
percent_passing_math

74.9808526933878

In [15]:
#Trying a new method to get passing scores by dropping the non-passing scores.
passing_reading_dropped = school_data_complete.drop(school_data_complete[school_data_complete.reading_score < 70].index)
passing_reading_dropped.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [16]:
# List of students with passing reading score
passing_reading_unique = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
passing_reading_unique.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [17]:
# Number of students with passing reading scores
passing_reading_unique = passing_reading_dropped["Student ID"].nunique()
passing_reading_unique

33610

In [18]:
# % of students with passing reading score
percent_passing_reading = (passing_reading_unique/student_count_unique) * 100
percent_passing_reading

85.80546336482001

In [19]:
# Grouped passing math score by school
grouped_math = passing_math_dropped.groupby("school_name")
grouped_math.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,3318,3318,3318,3318,3318,3318,3318,3318,3318,3318
Cabrera High School,1749,1749,1749,1749,1749,1749,1749,1749,1749,1749
Figueroa High School,1946,1946,1946,1946,1946,1946,1946,1946,1946,1946
Ford High School,1871,1871,1871,1871,1871,1871,1871,1871,1871,1871
Griffin High School,1371,1371,1371,1371,1371,1371,1371,1371,1371,1371
Hernandez High School,3094,3094,3094,3094,3094,3094,3094,3094,3094,3094
Holden High School,395,395,395,395,395,395,395,395,395,395
Huang High School,1916,1916,1916,1916,1916,1916,1916,1916,1916,1916
Johnson High School,3145,3145,3145,3145,3145,3145,3145,3145,3145,3145
Pena High School,910,910,910,910,910,910,910,910,910,910
Rodriguez High School,2654,2654,2654,2654,2654,2654,2654,2654,2654,2654
Shelton High School,1653,1653,1653,1653,1653,1653,1653,1653,1653,1653
Thomas High School,1525,1525,1525,1525,1525,1525,1525,1525,1525,1525
Wilson High School,2143,2143,2143,2143,2143,2143,2143,2143,2143,2143
Wright High School,1680,1680,1680,1680,1680,1680,1680,1680,1680,1680

In [20]:
# Grouped passing reading score by school
grouped_reading = passing_reading_dropped.groupby("school_name")
grouped_reading.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4077,4077,4077,4077,4077,4077,4077,4077,4077,4077
Cabrera High School,1803,1803,1803,1803,1803,1803,1803,1803,1803,1803
Figueroa High School,2381,2381,2381,2381,2381,2381,2381,2381,2381,2381
Ford High School,2172,2172,2172,2172,2172,2172,2172,2172,2172,2172
Griffin High School,1426,1426,1426,1426,1426,1426,1426,1426,1426,1426
Hernandez High School,3748,3748,3748,3748,3748,3748,3748,3748,3748,3748
Holden High School,411,411,411,411,411,411,411,411,411,411
Huang High School,2372,2372,2372,2372,2372,2372,2372,2372,2372,2372
Johnson High School,3867,3867,3867,3867,3867,3867,3867,3867,3867,3867
Pena High School,923,923,923,923,923,923,923,923,923,923
Rodriguez High School,3208,3208,3208,3208,3208,3208,3208,3208,3208,3208
Shelton High School,1688,1688,1688,1688,1688,1688,1688,1688,1688,1688
Thomas High School,1591,1591,1591,1591,1591,1591,1591,1591,1591,1591
Wilson High School,2204,2204,2204,2204,2204,2204,2204,2204,2204,2204
Wright High School,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739

In [21]:
# List of students who passed both reading and math
overall_passing = passing_reading_dropped.drop(passing_reading_dropped[(passing_reading_dropped.math_score < 70)].index)
overall_passing.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [22]:
# Count of students who passed both reading and math
overall_student_count = overall_passing["Student ID"].nunique()
overall_student_count

25528

In [23]:
# Group of passing students of reading and math by school
grouped_pass_overall = overall_passing.groupby("school_name")
grouped_pass_overall.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,2719,2719,2719,2719,2719,2719,2719,2719,2719,2719
Cabrera High School,1697,1697,1697,1697,1697,1697,1697,1697,1697,1697
Figueroa High School,1569,1569,1569,1569,1569,1569,1569,1569,1569,1569
Ford High School,1487,1487,1487,1487,1487,1487,1487,1487,1487,1487
Griffin High School,1330,1330,1330,1330,1330,1330,1330,1330,1330,1330
Hernandez High School,2481,2481,2481,2481,2481,2481,2481,2481,2481,2481
Holden High School,381,381,381,381,381,381,381,381,381,381
Huang High School,1561,1561,1561,1561,1561,1561,1561,1561,1561,1561
Johnson High School,2549,2549,2549,2549,2549,2549,2549,2549,2549,2549
Pena High School,871,871,871,871,871,871,871,871,871,871
Rodriguez High School,2119,2119,2119,2119,2119,2119,2119,2119,2119,2119
Shelton High School,1583,1583,1583,1583,1583,1583,1583,1583,1583,1583
Thomas High School,1487,1487,1487,1487,1487,1487,1487,1487,1487,1487
Wilson High School,2068,2068,2068,2068,2068,2068,2068,2068,2068,2068
Wright High School,1626,1626,1626,1626,1626,1626,1626,1626,1626,1626

In [24]:
# % of students passing math and reading
passed_overall_percent = (overall_student_count/student_count_unique) * 100
passed_overall_percent

65.17232575950983

In [25]:
# District Summary
overall_summary_df = pd.DataFrame({"Total Schools": [school_count_unique],
                                  "Total Students": [student_count_unique],
                                  "Total Budget": [budget_total],
                                  "Average Math Score": [math_average],
                                   "Average Reading Score": [reading_average],
                                  "% Passing Math": [percent_passing_math],
                                  "% Passing Reading": [percent_passing_reading],
                                  "% Overall Passing": [passed_overall_percent]})
overall_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [26]:
# Number of passing stduents per school
overall_passing_by_school = grouped_pass_overall["Student ID"].count()
overall_passing_by_school

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Student ID, dtype: int64

In [27]:
school_summary = school_file[["school_name", "type", "size", "budget",]].set_index("school_name").sort_values("school_name")
school_summary.index.name = "School Name"
school_summary

                           type  size   budget
School Name
Bailey High School     District  4976  3124928
Cabrera High School     Charter  1858  1081356
Figueroa High School   District  2949  1884411
Ford High School       District  2739  1763916
Griffin High School     Charter  1468   917500
Hernandez High School  District  4635  3022020
Holden High School      Charter   427   248087
Huang High School      District  2917  1910635
Johnson High School    District  4761  3094650
Pena High School        Charter   962   585858
Rodriguez High School  District  3999  2547363
Shelton High School     Charter  1761  1056600
Thomas High School      Charter  1635  1043130
Wilson High School      Charter  2283  1319574
Wright High School      Charter  1800  1049400

In [28]:
#Clarify categories in table as School Type, Total # Students, and Total School Budget
organized_school_summary_df = school_summary.rename(columns ={"type": "School Type", "size": "Total Students", "budget": "Total Student Budget"})
organized_school_summary_df

                      School Type  Total Students  Total Student Budget
School Name
Bailey High School       District            4976               3124928
Cabrera High School       Charter            1858               1081356
Figueroa High School     District            2949               1884411
Ford High School         District            2739               1763916
Griffin High School       Charter            1468                917500
Hernandez High School    District            4635               3022020
Holden High School        Charter             427                248087
Huang High School        District            2917               1910635
Johnson High School      District            4761               3094650
Pena High School          Charter             962                585858
Rodriguez High School    District            3999               2547363
Shelton High School       Charter            1761               1056600
Thomas High School        Charter            1635               1043130
Wilson High School        Charter            2283               1319574
Wright High School        Charter            1800               1049400

In [29]:
total_students_per_school = organized_school_summary_df["Total Students"]
total_budget_per_school = organized_school_summary_df["Total Student Budget"]

student_budget = total_budget_per_school / total_students_per_school
school_type = school_file.set_index(["school_name"])["type"]

In [30]:
total_school_budget = school_file["budget"].sum()
total_school_budget

24649428

In [31]:
# Sort data to be alphabetical by school name
sorted_data = school_data_complete.sort_values("school_name")
sorted_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928

In [32]:
# Try with groupby
sorted_grouped_data = sorted_data.groupby("school_name")
sorted_grouped_data.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [89]:
school_type = school_file.set_index(["school_name"])["type"]
# school_type

In [88]:
# Create list of student counts by school
student_count_list = sorted_grouped_data["Student ID"].count()
# student_count_list

In [86]:
# List of reading scores per school
reading_score_list = sorted_grouped_data["reading_score"].sum()
# reading_score_list

In [85]:
# Average reading score per school
average_reading_score_by_school = reading_score_list / student_count_list
# average_reading_score_by_school

In [84]:
# List of math scores per school
math_score_list = sorted_grouped_data["math_score"].sum()
# math_score_list

In [77]:
# Average math score per school
average_math_score_by_school = math_score_list / student_count_list
# average_math_score_by_school

In [71]:
# Number of students with passing math score
passed_math_count_by_school = grouped_math["Student ID"].count()
# passed_math_count_by_school

In [70]:
# Number of students with passing reading score
passed_reading_count_by_school = grouped_reading["Student ID"].count()
# passed_reading_count_by_school

In [69]:
# % Passing math scores by school
percent_math_passing = (passed_math_count_by_school /student_count_list) * 100
# percent_math_passing

In [68]:
# % Passing reading scores by school
percent_reading_passing = (passed_reading_count_by_school/student_count_list) * 100
# percent_reading_passing

In [82]:
# % of overall passing scores in math and reading by school
passed_overall_by_school = (overall_passing_by_school/student_count_list) * 100
# passed_overall_by_school

In [67]:
# School Summary
school_summary_final_df = pd.DataFrame({"School Type": school_type,
                                "Total Students": student_count_list,
                                "Total School Budget": total_budget_per_school,
                                "Per Student Budget": student_budget,
                                "Average Math Score": average_math_score_by_school,
                                "Average Reading Score": average_reading_score_by_school,
                                "% Passing Math": percent_math_passing,
                               "% Passing Reading": percent_reading_passing,
                               "% Overall Passing": passed_overall_by_school})
school_summary_final_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

# Top Performing Schools (By % Overall Passing)

In [92]:
# Top performing Schools
schools_top_performing = school_summary_final_df.sort_values("% Overall Passing", ascending=False)
schools_top_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

# Bottom Performing Schools (By % Overall Passing)

In [91]:
# Bottom performing schools
schools_bottom_performing = school_summary_final_df.sort_values("% Overall Passing")
schools_bottom_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

# Math Scores by Grade
 
Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
Create a pandas series for each grade. Hint: use a conditional statement.
Group each series by school
Combine the series into a dataframe
Optional: give the displayed data cleaner formatting

In [61]:
# List of 9th grade math scores by school 
ninth_graders = school_data_complete[school_data_complete['grade'] == "9th"].groupby("school_name")["math_score"].mean()
# ninth_graders

In [62]:
# List of 10th grade math scores by school 
tenth_graders = school_data_complete[school_data_complete['grade'] == "10th"].groupby("school_name")["math_score"].mean()
# tenth_graders

In [63]:
# List of 11th grade math scores by school 
eleventh_graders = school_data_complete[school_data_complete['grade'] == "11th"].groupby("school_name")["math_score"].mean()
# eleventh_graders

In [64]:
# List of 12th grade math scores by school 
twelfth_graders = school_data_complete[school_data_complete['grade'] == "12th"].groupby("school_name")["math_score"].mean()
# twelfth_graders

In [90]:
# Summary of math scores by grade
math_scores_by_grade_final = pd.DataFrame({"9th": ninth_graders,
                                          "10th": tenth_graders,
                                          "11th": eleventh_graders,
                                          "12th": twelfth_graders})
math_scores_by_grade_final

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Score by Grade

In [57]:
# List of 9th grade reading scores by school 
ninth_graders_reading = school_data_complete[school_data_complete['grade'] == "9th"].groupby("school_name")["reading_score"].mean()
# ninth_graders_reading

In [58]:
# List of 10th grade reading scores by school 
tenth_graders_reading = school_data_complete[school_data_complete['grade'] == "10th"].groupby("school_name")["reading_score"].mean()
# tenth_graders_reading

In [59]:
# List of 11th grade reading scores by school 
eleventh_graders_reading = school_data_complete[school_data_complete['grade'] == "11th"].groupby("school_name")["reading_score"].mean()
# eleventh_graders_reading

In [60]:
# List of 12th grade reading scores by school 
twelfth_graders_reading = school_data_complete[school_data_complete['grade'] == "12th"].groupby("school_name")["reading_score"].mean()
# twelfth_graders_reading

In [93]:
# Reading scores by grade
reading_scores_by_grade_final = pd.DataFrame({"9th": ninth_graders_reading,
                                          "10th": tenth_graders_reading,
                                          "11th": eleventh_graders_reading,
                                          "12th": twelfth_graders_reading})
reading_scores_by_grade_final

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending

In [99]:
# Copy school summary data
school_spending = school_summary_final_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].copy()
school_spending.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455

In [ ]:
# Create bins
spending_limits = [0, 585, 630, 645,680]
spending_ranges = ["<$585", "$585-$630", "$630-$645", "$645-$680"]

In [110]:
school_spending["Spending Per Student"] = pd.cut(school_spending["Spending Per Student"], spending_limits, labels=spending_ranges, include_lowest=True)
school_spending

KeyError: 'Spending Per Student'