District Summary

In [1]:
# Dependancies
import pandas as pd

In [2]:
# Save path to data set in variable
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

In [3]:
# Use Pandas to read data
school_file_df = pd.read_csv(school_file)
student_file_df = pd.read_csv(student_file)

In [4]:
# Print school data
# school_file_df

In [5]:
# Find the total budget
budget_total_df = school_file_df["budget"].sum()
budget_total_df

24649428

In [6]:
# Print student data
# student_file_df

In [7]:
# Merge school data and student data
school_data_complete = pd.merge(student_file_df, school_file_df, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [8]:
# Rename columns for easier reading
school_data_renamed_df = school_data_complete.rename(columns={"student_name":"Student Name", "gender":"Gender", "grade":"Grade", "school_name":"School Name", "reading_score":"Reading Score", "math_score":"Math Score", "type":"Type of School", "size":"School Population", "budget":"Budget"})
school_data_renamed_df

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type of School,School Population,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [9]:
# Check column types
# school_data_renamed_df.dtypes

In [10]:
# Find the average reading score
reading_average_df = school_data_renamed_df["Reading Score"].mean()
reading_average_df

81.87784018381414

In [11]:
# Find the average math score
math_average_df = school_data_renamed_df["Math Score"].mean()
math_average_df

78.98537145774827

In [12]:
# Total number of schools
school_count_unique_df = school_data_renamed_df["School ID"].nunique()
school_count_unique_df

15

In [13]:
# Total number of students
student_count_unique_df = school_data_renamed_df["Student ID"].nunique()
student_count_unique_df

39170

In [14]:
# List of students with a score of 70 or higher
passing_math_students_df = school_data_renamed_df.loc[(school_data_renamed_df["Math Score"] >= 70)]
passing_math_students_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type of School,School Population,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [15]:
# Number of students with passing math score
passing_math_unique_df = passing_math_students_df["Student ID"].nunique()
passing_math_unique_df

29370

In [16]:
# % of students with passing math score
percent_passing_math_df = (passing_math_unique_df/student_count_unique_df) * 100
percent_passing_math_df

74.9808526933878

In [17]:
# List of students with passing reading score
passing_reading_unique_df = school_data_renamed_df.loc[(school_data_renamed_df["Reading Score"] >= 70)]
passing_reading_unique_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type of School,School Population,Budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [18]:
# Number of students with passing reading scores
passing_reading_unique_df = passing_reading_unique_df["Student ID"].nunique()
passing_reading_unique_df

33610

In [19]:
# % of students with passing reading score
percent_passing_reading_df = (passing_reading_unique_df/student_count_unique_df) * 100
percent_passing_reading_df

85.80546336482001

In [20]:
passed_overall = passing_reading_unique_df.drop(passing_reading_unique_df[passing_reading_unique_df.passing_math_unique.df < 70].index)
passed_overall

AttributeError: 'int' object has no attribute 'drop'

In [ ]:
# District Summary
overall_summary_df = pd.DataFrame({"Total Schools": [school_count_unique_df],
                                  "Total Students": [student_count_unique_df],
                                  "Total Budget": [budget_total_df],
                                  "Average Math Score": [math_average_df],
                                   "Average Reading Score": [reading_average_df],
                                  "% Passing Math": [percent_passing_math_df],
                                  "% Passing Reading": [percent_passing_reading_df]})
overall_summary_df

In [ ]:
# Sort data to be alphabetical by school name
sorted_data_df = school_data_renamed_df.sort_values("School Name")
sorted_data_df.head()

In [ ]:
# Make df with School Name, Type of School, School Population and Budget
school_summary_df = sorted_data_df[["School Name", "Type of School", "School Population", "Budget"]]
school_summary_df.head()

In [ ]:
# 
school_summary_df["Per Student Budget"] = school_summary_df["Budget"]/school_summary_df["School Population"]
school_summary_df.head()

In [ ]:
school_sort_df["Type of School"]

In [ ]:
school_reduced_df = school_data_renamed_df[school_data_renamed_df["Budget"].isin(["School Name"])]
school_reduced_df

In [ ]:
school_summary_df = pd.DataFrame ({" ":[],
                                 "School Type": [school_sort_df],
                                 "Total Students": [student_count_unique_df],
                                 "Total School Budget": [budget_total_df],
                                 "Per Student Budget": [],
                                 "Average Math Score": [],
                                 "Average Reading Score": [],
                                 "% Passing Math": [],
                                 "% Passing Reading": [],
                                 "% Overall Passing": []})
school_summary_df