District Summary

In [1]:
# Dependancies
import pandas as pd

In [2]:
# Save path to data set in variable
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

In [3]:
# Use Pandas to read data
school_file_df = pd.read_csv(school_file)
student_file_df = pd.read_csv(student_file)

In [4]:
# Print school data
# school_file_df

In [5]:
# Find the total budget
budget_total_df = school_file_df["budget"].sum()
budget_total_df

24649428

In [6]:
# Print student data
# student_file_df

In [7]:
# Merge school data and student data
school_data_complete = pd.merge(student_file_df, school_file_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# Find the average reading score
reading_average_df = school_data_complete["reading_score"].mean()
reading_average_df

81.87784018381414

In [9]:
# Find the average math score
math_average_df = school_data_complete["math_score"].mean()
math_average_df

78.98537145774827

In [10]:
# Total number of schools
school_count_unique_df = school_data_complete["School ID"].nunique()
school_count_unique_df

15

In [11]:
# Total number of students
student_count_unique_df = school_data_complete["Student ID"].nunique()
student_count_unique_df

39170

In [12]:
#Trying a new method to get number of students with passing scores by dropping the non-passing scores.
passing_math_dropped_df = school_data_complete.drop(school_data_complete[school_data_complete.math_score < 70].index)
passing_math_dropped_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [13]:
# List of students with a math score of 70 or higher
# passing_math_students_df = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
# passing_math_students_df.head()

In [14]:
# Number of students with passing math score
passing_math_unique_df = passing_math_dropped_df["Student ID"].nunique()
passing_math_unique_df

29370

In [15]:
# % of students with passing math score
percent_passing_math_df = (passing_math_unique_df/student_count_unique_df) * 100
percent_passing_math_df

74.9808526933878

In [16]:
#Trying a new method to get passing scores by dropping the non-passing scores.
passing_reading_dropped_df = school_data_complete.drop(school_data_complete[school_data_complete.reading_score < 70].index)
passing_reading_dropped_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [17]:
# List of students with passing reading score
# passing_reading_unique_df = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
# passing_reading_unique_df.head()

In [18]:
# Number of students with passing reading scores
passing_reading_unique_df = passing_reading_dropped_df["Student ID"].nunique()
passing_reading_unique_df

33610

In [19]:
# % of students with passing reading score
percent_passing_reading_df = (passing_reading_unique_df/student_count_unique_df) * 100
percent_passing_reading_df

85.80546336482001

In [20]:
# Grouped passing math score by school
grouped_math_df = passing_math_dropped_df.groupby("school_name")
grouped_math_df.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,3318,3318,3318,3318,3318,3318,3318,3318,3318,3318
Cabrera High School,1749,1749,1749,1749,1749,1749,1749,1749,1749,1749
Figueroa High School,1946,1946,1946,1946,1946,1946,1946,1946,1946,1946
Ford High School,1871,1871,1871,1871,1871,1871,1871,1871,1871,1871
Griffin High School,1371,1371,1371,1371,1371,1371,1371,1371,1371,1371
Hernandez High School,3094,3094,3094,3094,3094,3094,3094,3094,3094,3094
Holden High School,395,395,395,395,395,395,395,395,395,395
Huang High School,1916,1916,1916,1916,1916,1916,1916,1916,1916,1916
Johnson High School,3145,3145,3145,3145,3145,3145,3145,3145,3145,3145
Pena High School,910,910,910,910,910,910,910,910,910,910
Rodriguez High School,2654,2654,2654,2654,2654,2654,2654,2654,2654,2654
Shelton High School,1653,1653,1653,1653,1653,1653,1653,1653,1653,1653
Thomas High School,1525,1525,1525,1525,1525,1525,1525,1525,1525,1525
Wilson High School,2143,2143,2143,2143,2143,2143,2143,2143,2143,2143
Wright High School,1680,1680,1680,1680,1680,1680,1680,1680,1680,1680

In [21]:
# Grouped passing reading score by school
grouped_reading_df = passing_reading_dropped_df.groupby("school_name")
grouped_reading_df.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4077,4077,4077,4077,4077,4077,4077,4077,4077,4077
Cabrera High School,1803,1803,1803,1803,1803,1803,1803,1803,1803,1803
Figueroa High School,2381,2381,2381,2381,2381,2381,2381,2381,2381,2381
Ford High School,2172,2172,2172,2172,2172,2172,2172,2172,2172,2172
Griffin High School,1426,1426,1426,1426,1426,1426,1426,1426,1426,1426
Hernandez High School,3748,3748,3748,3748,3748,3748,3748,3748,3748,3748
Holden High School,411,411,411,411,411,411,411,411,411,411
Huang High School,2372,2372,2372,2372,2372,2372,2372,2372,2372,2372
Johnson High School,3867,3867,3867,3867,3867,3867,3867,3867,3867,3867
Pena High School,923,923,923,923,923,923,923,923,923,923
Rodriguez High School,3208,3208,3208,3208,3208,3208,3208,3208,3208,3208
Shelton High School,1688,1688,1688,1688,1688,1688,1688,1688,1688,1688
Thomas High School,1591,1591,1591,1591,1591,1591,1591,1591,1591,1591
Wilson High School,2204,2204,2204,2204,2204,2204,2204,2204,2204,2204
Wright High School,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739

In [22]:
# List of students who passed both reading and math
overall_passing_df = passing_reading_dropped_df.drop(passing_reading_dropped_df[(passing_reading_dropped_df.math_score < 70)].index)
overall_passing_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [23]:
# Count of students who passed both reading and math
overall_student_count_df = overall_passing_df["Student ID"].nunique()
overall_student_count_df

25528

In [28]:
# Group of passing students of reading and math by school
grouped_pass_overall_df = overall_passing_df.groupby("school_name")
grouped_pass_overall_df.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,2719,2719,2719,2719,2719,2719,2719,2719,2719,2719
Cabrera High School,1697,1697,1697,1697,1697,1697,1697,1697,1697,1697
Figueroa High School,1569,1569,1569,1569,1569,1569,1569,1569,1569,1569
Ford High School,1487,1487,1487,1487,1487,1487,1487,1487,1487,1487
Griffin High School,1330,1330,1330,1330,1330,1330,1330,1330,1330,1330
Hernandez High School,2481,2481,2481,2481,2481,2481,2481,2481,2481,2481
Holden High School,381,381,381,381,381,381,381,381,381,381
Huang High School,1561,1561,1561,1561,1561,1561,1561,1561,1561,1561
Johnson High School,2549,2549,2549,2549,2549,2549,2549,2549,2549,2549
Pena High School,871,871,871,871,871,871,871,871,871,871
Rodriguez High School,2119,2119,2119,2119,2119,2119,2119,2119,2119,2119
Shelton High School,1583,1583,1583,1583,1583,1583,1583,1583,1583,1583
Thomas High School,1487,1487,1487,1487,1487,1487,1487,1487,1487,1487
Wilson High School,2068,2068,2068,2068,2068,2068,2068,2068,2068,2068
Wright High School,1626,1626,1626,1626,1626,1626,1626,1626,1626,1626

In [25]:
# % of students passing math and reading
passed_overall_percent_df = (overall_student_count_df/student_count_unique_df) * 100
passed_overall_percent_df

65.17232575950983

In [26]:
# District Summary
overall_summary_df = pd.DataFrame({"Total Schools": [school_count_unique_df],
                                  "Total Students": [student_count_unique_df],
                                  "Total Budget": [budget_total_df],
                                  "Average Math Score": [math_average_df],
                                   "Average Reading Score": [reading_average_df],
                                  "% Passing Math": [percent_passing_math_df],
                                  "% Passing Reading": [percent_passing_reading_df],
                                  "% Overall Passing": [passed_overall_percent_df]})
overall_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
# Start School Summary

In [68]:
# Number of passing stduents per school
overall_passing_by_school_df = grouped_pass_overall_df["Student ID"].count()
overall_passing_by_school_df

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Student ID, dtype: int64

In [66]:
# Sort data to be alphabetical by school name
sorted_data_df = school_data_complete.sort_values("school_name")
sorted_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928

In [65]:
# Make df with School Name, Type of School, School Population and Budget
school_summary_df = sorted_data_df[["school_name", "type", "size", "budget"]]
school_summary_df.head()

              school_name      type  size   budget
19584  Bailey High School  District  4976  3124928
21193  Bailey High School  District  4976  3124928
21192  Bailey High School  District  4976  3124928
21191  Bailey High School  District  4976  3124928
21190  Bailey High School  District  4976  3124928

In [64]:
# Create a Per Student Budget column
school_summary_df["Per Student Budget"] = school_summary_df["budget"]/school_summary_df["size"]
school_summary_df.head()

C:\Users\trvaughn\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              school_name      type  size   budget  Per Student Budget
19584  Bailey High School  District  4976  3124928               628.0
21193  Bailey High School  District  4976  3124928               628.0
21192  Bailey High School  District  4976  3124928               628.0
21191  Bailey High School  District  4976  3124928               628.0
21190  Bailey High School  District  4976  3124928               628.0

In [63]:
# Try with groupby
sorted_grouped_data_df = sorted_data_df.groupby("school_name")
sorted_grouped_data_df.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [62]:
# Create list of student counts by school
student_count_list_df = sorted_grouped_data_df["Student ID"].count()
student_count_list_df

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [61]:
# List of reading scores per school
reading_score_list_df = sorted_grouped_data_df["reading_score"].sum()
reading_score_list_df

school_name
Bailey High School       403225
Cabrera High School      156027
Figueroa High School     239335
Ford High School         221164
Griffin High School      123043
Hernandez High School    375131
Holden High School        35789
Huang High School        236810
Johnson High School      385481
Pena High School          80851
Rodriguez High School    322898
Shelton High School      147441
Thomas High School       137093
Wilson High School       191748
Wright High School       151119
Name: reading_score, dtype: int64

In [58]:
# Average reading score per school
average_reading_score_by_school_df = reading_score_list_df / student_count_list_df
average_reading_score_by_school_df

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
dtype: float64

In [60]:
# List of math scores per school
math_score_list_df = sorted_grouped_data_df["math_score"].sum()
math_score_list_df

school_name
Bailey High School       383393
Cabrera High School      154329
Figueroa High School     226223
Ford High School         211184
Griffin High School      122360
Hernandez High School    358238
Holden High School        35784
Huang High School        223528
Johnson High School      366942
Pena High School          80654
Rodriguez High School    307294
Shelton High School      146796
Thomas High School       136389
Wilson High School       190115
Wright High School       150628
Name: math_score, dtype: int64

In [59]:
# Average math score per school
average_math_score_by_school_df = math_score_list_df / student_count_list_df
average_math_score_by_school_df

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
dtype: float64

In [73]:
percent_math_passing_df = (grouped_math_df /student_count_list_df) * 100
percent_math_passing_df

ValueError: operands could not be broadcast together with shapes (15,2) (15,)

In [69]:
# Start score dataframe to merge with summary later
reading_math_df = pd.DataFrame({"Average Math Score": [average_math_score_by_school_df],
                                "Average Reading Score": [average_reading_score_by_school_df],
                                "% Passing Math": [math_score_list_df],
                               "% Passing Reading": passed_reading_percent_df,
                               "% Passing Overall": passed_overall_percent})

NameError: name 'passed_math_percent_df' is not defined

In [ ]:
school_summary_df = pd.DataFrame ({" ":[],
                                 "School Type": [school_sort_df],
                                 "Total Students": [student_count_unique_df],
                                 "Total School Budget": [budget_total_df],
                                 "Per Student Budget": [],
                                 "Average Math Score": [],
                                 "Average Reading Score": [],
                                 "% Passing Math": [],
                                 "% Passing Reading": [],
                                 "% Overall Passing": []})
school_summary_df

In [ ]:
# Rename columns for easier reading
# I did this too soon - the code doesn't seem to like all the nice names. Moving to the end and may use part of this later
# school_data_renamed_df = school_data_complete.rename(columns={"student_name":"Student Name", "gender":"Gender", "grade":"Grade", "school_name":"School Name", "reading_score":"Reading Score", "math_score":"Math Score", "type":"Type of School", "size":"School Population", "budget":"Budget"})
# school_data_renamed_df.head()