# District Summary

Calculate the total number of schools
Calculate the total number of students
Calculate the total budget
Calculate the average math score 
Calculate the average reading score
Calculate the percentage of students with a passing math score (70 or greater)
Calculate the percentage of students with a passing reading score (70 or greater)
Calculate the percentage of students who passed math and reading (% Overall Passing)
Create a dataframe to hold the above results
Optional: give the displayed data cleaner formatting

In [1]:
# Dependancies
import pandas as pd

In [2]:
# Save path to data set in variable
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

In [3]:
# Use Pandas to read data
school_file = pd.read_csv(school_file)
student_file = pd.read_csv(student_file)

In [4]:
# Print school data
# school_file

In [5]:
# Find the total budget
budget_total = school_file["budget"].sum()
budget_total

24649428

In [6]:
# Print student data
# student_file

In [7]:
# Merge school data and student data
school_data_complete = pd.merge(student_file, school_file, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# Find the average reading and math score
reading_average = school_data_complete["reading_score"].mean()
reading_average

81.87784018381414

In [9]:
# Find the average math score
math_average = school_data_complete["math_score"].mean()
math_average

78.98537145774827

In [10]:
# Total number of schools
school_count_unique = school_data_complete["School ID"].nunique()
school_count_unique

15

In [11]:
# Total number of students
student_count_unique = school_data_complete["Student ID"].nunique()
student_count_unique

39170

In [12]:
#Trying a new method to get number of students with passing scores by dropping the non-passing scores.
passing_math_dropped = school_data_complete.drop(school_data_complete[school_data_complete.math_score < 70].index)
passing_math_dropped.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [13]:
# Number of students with passing math score
passing_math_unique = passing_math_dropped["Student ID"].nunique()
passing_math_unique

29370

In [14]:
# % of students with passing math score
percent_passing_math = (passing_math_unique/student_count_unique) * 100
percent_passing_math

74.9808526933878

In [15]:
#Trying a new method to get passing scores by dropping the non-passing scores.
passing_reading_dropped = school_data_complete.drop(school_data_complete[school_data_complete.reading_score < 70].index)
passing_reading_dropped.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [16]:
# List of students with passing reading score
passing_reading_unique = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
passing_reading_unique.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [17]:
# Number of students with passing reading scores
passing_reading_unique = passing_reading_dropped["Student ID"].nunique()
passing_reading_unique

33610

In [18]:
# % of students with passing reading score
percent_passing_reading = (passing_reading_unique/student_count_unique) * 100
percent_passing_reading

85.80546336482001

In [19]:
# Grouped passing math score by school
grouped_math = passing_math_dropped.groupby("school_name")
grouped_math.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,3318,3318,3318,3318,3318,3318,3318,3318,3318,3318
Cabrera High School,1749,1749,1749,1749,1749,1749,1749,1749,1749,1749
Figueroa High School,1946,1946,1946,1946,1946,1946,1946,1946,1946,1946
Ford High School,1871,1871,1871,1871,1871,1871,1871,1871,1871,1871
Griffin High School,1371,1371,1371,1371,1371,1371,1371,1371,1371,1371
Hernandez High School,3094,3094,3094,3094,3094,3094,3094,3094,3094,3094
Holden High School,395,395,395,395,395,395,395,395,395,395
Huang High School,1916,1916,1916,1916,1916,1916,1916,1916,1916,1916
Johnson High School,3145,3145,3145,3145,3145,3145,3145,3145,3145,3145
Pena High School,910,910,910,910,910,910,910,910,910,910
Rodriguez High School,2654,2654,2654,2654,2654,2654,2654,2654,2654,2654
Shelton High School,1653,1653,1653,1653,1653,1653,1653,1653,1653,1653
Thomas High School,1525,1525,1525,1525,1525,1525,1525,1525,1525,1525
Wilson High School,2143,2143,2143,2143,2143,2143,2143,2143,2143,2143
Wright High School,1680,1680,1680,1680,1680,1680,1680,1680,1680,1680

In [20]:
# Grouped passing reading score by school
grouped_reading = passing_reading_dropped.groupby("school_name")
grouped_reading.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4077,4077,4077,4077,4077,4077,4077,4077,4077,4077
Cabrera High School,1803,1803,1803,1803,1803,1803,1803,1803,1803,1803
Figueroa High School,2381,2381,2381,2381,2381,2381,2381,2381,2381,2381
Ford High School,2172,2172,2172,2172,2172,2172,2172,2172,2172,2172
Griffin High School,1426,1426,1426,1426,1426,1426,1426,1426,1426,1426
Hernandez High School,3748,3748,3748,3748,3748,3748,3748,3748,3748,3748
Holden High School,411,411,411,411,411,411,411,411,411,411
Huang High School,2372,2372,2372,2372,2372,2372,2372,2372,2372,2372
Johnson High School,3867,3867,3867,3867,3867,3867,3867,3867,3867,3867
Pena High School,923,923,923,923,923,923,923,923,923,923
Rodriguez High School,3208,3208,3208,3208,3208,3208,3208,3208,3208,3208
Shelton High School,1688,1688,1688,1688,1688,1688,1688,1688,1688,1688
Thomas High School,1591,1591,1591,1591,1591,1591,1591,1591,1591,1591
Wilson High School,2204,2204,2204,2204,2204,2204,2204,2204,2204,2204
Wright High School,1739,1739,1739,1739,1739,1739,1739,1739,1739,1739

In [21]:
# List of students who passed both reading and math
overall_passing = passing_reading_dropped.drop(passing_reading_dropped[(passing_reading_dropped.math_score < 70)].index)
overall_passing.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [22]:
# Count of students who passed both reading and math
overall_student_count = overall_passing["Student ID"].nunique()
overall_student_count

25528

In [23]:
# Group of passing students of reading and math by school
grouped_pass_overall = overall_passing.groupby("school_name")
grouped_pass_overall.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,2719,2719,2719,2719,2719,2719,2719,2719,2719,2719
Cabrera High School,1697,1697,1697,1697,1697,1697,1697,1697,1697,1697
Figueroa High School,1569,1569,1569,1569,1569,1569,1569,1569,1569,1569
Ford High School,1487,1487,1487,1487,1487,1487,1487,1487,1487,1487
Griffin High School,1330,1330,1330,1330,1330,1330,1330,1330,1330,1330
Hernandez High School,2481,2481,2481,2481,2481,2481,2481,2481,2481,2481
Holden High School,381,381,381,381,381,381,381,381,381,381
Huang High School,1561,1561,1561,1561,1561,1561,1561,1561,1561,1561
Johnson High School,2549,2549,2549,2549,2549,2549,2549,2549,2549,2549
Pena High School,871,871,871,871,871,871,871,871,871,871
Rodriguez High School,2119,2119,2119,2119,2119,2119,2119,2119,2119,2119
Shelton High School,1583,1583,1583,1583,1583,1583,1583,1583,1583,1583
Thomas High School,1487,1487,1487,1487,1487,1487,1487,1487,1487,1487
Wilson High School,2068,2068,2068,2068,2068,2068,2068,2068,2068,2068
Wright High School,1626,1626,1626,1626,1626,1626,1626,1626,1626,1626

In [24]:
# % of students passing math and reading
passed_overall_percent = (overall_student_count/student_count_unique) * 100
passed_overall_percent

65.17232575950983

In [25]:
# District Summary
overall_summary_df = pd.DataFrame({"Total Schools": [school_count_unique],
                                  "Total Students": [student_count_unique],
                                  "Total Budget": [budget_total],
                                  "Average Math Score": [math_average],
                                   "Average Reading Score": [reading_average],
                                  "% Passing Math": [percent_passing_math],
                                  "% Passing Reading": [percent_passing_reading],
                                  "% Overall Passing": [passed_overall_percent]})
overall_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary
 
Create an overview table that summarizes key metrics about each school, including:
School Name
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
% Overall Passing (The percentage of students that passed math and reading.)


Create a dataframe to hold the above results

In [26]:
# Number of passing stduents per school
overall_passing_by_school = grouped_pass_overall["Student ID"].count()
overall_passing_by_school

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Student ID, dtype: int64

In [27]:
school_summary = school_file[["school_name", "type", "size", "budget",]].set_index("school_name").sort_values("school_name")
school_summary.index.name = "School Name"
school_summary

                           type  size   budget
School Name
Bailey High School     District  4976  3124928
Cabrera High School     Charter  1858  1081356
Figueroa High School   District  2949  1884411
Ford High School       District  2739  1763916
Griffin High School     Charter  1468   917500
Hernandez High School  District  4635  3022020
Holden High School      Charter   427   248087
Huang High School      District  2917  1910635
Johnson High School    District  4761  3094650
Pena High School        Charter   962   585858
Rodriguez High School  District  3999  2547363
Shelton High School     Charter  1761  1056600
Thomas High School      Charter  1635  1043130
Wilson High School      Charter  2283  1319574
Wright High School      Charter  1800  1049400

In [28]:
#Clarify categories in table as School Type, Total # Students, and Total School Budget
organized_school_summary_df = school_summary.rename(columns ={"type": "School Type", "size": "Total Students", "budget": "Total Student Budget"})
organized_school_summary_df

                      School Type  Total Students  Total Student Budget
School Name
Bailey High School       District            4976               3124928
Cabrera High School       Charter            1858               1081356
Figueroa High School     District            2949               1884411
Ford High School         District            2739               1763916
Griffin High School       Charter            1468                917500
Hernandez High School    District            4635               3022020
Holden High School        Charter             427                248087
Huang High School        District            2917               1910635
Johnson High School      District            4761               3094650
Pena High School          Charter             962                585858
Rodriguez High School    District            3999               2547363
Shelton High School       Charter            1761               1056600
Thomas High School        Charter            1635               1043130
Wilson High School        Charter            2283               1319574
Wright High School        Charter            1800               1049400

In [29]:
total_students_per_school = organized_school_summary_df["Total Students"]
total_budget_per_school = organized_school_summary_df["Total Student Budget"]

student_budget = total_budget_per_school / total_students_per_school
school_type = school_file.set_index(["school_name"])["type"]

In [30]:
total_school_budget = school_file["budget"].sum()
total_school_budget

24649428

In [31]:
# Sort data to be alphabetical by school name
sorted_data = school_data_complete.sort_values("school_name")
sorted_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928

In [32]:
# Try with groupby
sorted_grouped_data = sorted_data.groupby("school_name")
sorted_grouped_data.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [33]:
school_type = school_file.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [34]:
# Create list of student counts by school
student_count_list = sorted_grouped_data["Student ID"].count()
student_count_list

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [35]:
# List of reading scores per school
reading_score_list = sorted_grouped_data["reading_score"].sum()
reading_score_list

school_name
Bailey High School       403225
Cabrera High School      156027
Figueroa High School     239335
Ford High School         221164
Griffin High School      123043
Hernandez High School    375131
Holden High School        35789
Huang High School        236810
Johnson High School      385481
Pena High School          80851
Rodriguez High School    322898
Shelton High School      147441
Thomas High School       137093
Wilson High School       191748
Wright High School       151119
Name: reading_score, dtype: int64

In [36]:
# Average reading score per school
average_reading_score_by_school = reading_score_list / student_count_list
average_reading_score_by_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
dtype: float64

In [37]:
# List of math scores per school
math_score_list = sorted_grouped_data["math_score"].sum()
math_score_list

school_name
Bailey High School       383393
Cabrera High School      154329
Figueroa High School     226223
Ford High School         211184
Griffin High School      122360
Hernandez High School    358238
Holden High School        35784
Huang High School        223528
Johnson High School      366942
Pena High School          80654
Rodriguez High School    307294
Shelton High School      146796
Thomas High School       136389
Wilson High School       190115
Wright High School       150628
Name: math_score, dtype: int64

In [38]:
# Average math score per school
average_math_score_by_school = math_score_list / student_count_list
average_math_score_by_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
dtype: float64

In [39]:
passed_math_count_by_school = grouped_math["Student ID"].count()
passed_math_count_by_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [40]:
passed_reading_count_by_school = grouped_reading["Student ID"].count()
passed_reading_count_by_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [41]:
percent_math_passing = (passed_math_count_by_school /student_count_list) * 100
percent_math_passing

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [42]:
percent_reading_passing = (passed_reading_count_by_school/student_count_list) * 100
percent_reading_passing

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [43]:
passed_overall_by_school = (overall_passing_by_school/student_count_list) * 100
passed_overall_by_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [44]:
# School Summary
school_summary_final_df = pd.DataFrame({"School Type": school_type,
                                "Total Students": student_count_list,
                                "Total School Budget": total_budget_per_school,
                                "Per Student Budget": student_budget,
                                "Average Math Score": average_math_score_by_school,
                                "Average Reading Score": average_reading_score_by_school,
                                "% Passing Math": percent_math_passing,
                               "% Passing Reading": percent_reading_passing,
                               "% Overall Passing": passed_overall_by_school})
school_summary_final_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

# Top Performing Schools (By % Overall Passing)
Sort and display the top five performing schools by % overall passing.

In [45]:
schools_top_performing = school_summary_final_df.sort_values("% Overall Passing", ascending=False)
schools_top_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

# Bottom Performing Schools (By % Overall Passing)
 
Sort and display the five worst-performing schools by % overall passing.

In [46]:
schools_bottom_performing = school_summary_final_df.sort_values("% Overall Passing")
schools_bottom_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

# Math Scores by Grade
 
Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
Create a pandas series for each grade. Hint: use a conditional statement.
Group each series by school
Combine the series into a dataframe
Optional: give the displayed data cleaner formatting